html, body {
    height: 100%;
    background-color: #FFFDE7;
}

h1  {
    color: #993333;
    font-size: 2em;
    text-align: left;
    text-decoration: underline;
}

.mapWrapper {
    position: relative;
    height: 100%;
    width: 93%;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

.selectColorData {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 20000;
}

path {
    fill: #3E2723;
}

path:hover {
    fill: #17202A;
}