html, body {
    font-family: "courier";
    color: #000000;
    height: 100%;
    background-color: #edf2f4;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
}

h1  {
    color: #993333;
    font-size: 1.75em;
    text-align: left;
    text-decoration: underline;
}

h2  {
    color: #993333;
    font-size: 1.1em;
    text-align: left;
    text-decoration: none;
}

.mapWrapper {
    position: relative;
    height: 100%;
    width: 1325px;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

#selectCategory {
    position: absolute;
    right: 15px;
    top: 15px;
}

.selectColorData {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 20000;
}

path {
    fill: #FAD7A0;
}

path:hover {
    fill: #F5B041;
}

.row {
    display: flex; /* Each has equal height this way. */
}

.col {
    flex: 1; /* Each has equal width this way. */
    padding: 1em;
    border: none;
}